.env
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

output/*
!output/.gitkeep
!output/downloaded_images/
output/downloaded_images/*
!output/downloaded_images/.gitkeep

processed/*
!processed/.gitkeep
failed/*
!failed/.gitkeep
